﻿.jumbotron {
    background-color: yellow;
    color:black;
    margin-top: 50px;
}

.btn {
    color:green;
}

.footer {
    background-color: red;
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}

.btn-conocer {
    width:100%;
    border-radius:0px;

}

.tab-content {
    padding-top: 10px;
}